In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('second.csv')

In [3]:
data = data[['frequency','like','c1_familiarity','c2_familiarity','surprise']] 
data

      frequency  like  c1_familiarity  c2_familiarity  surprise
0            45     4               4        3.062344         3
1            82     5               5        3.062344         5
2            19     4               2        3.062344         1
3             7     3               4        3.062344         1
4             9     3               1        3.062344         3
5            14     1               1        3.062344         2
6            31     4               1        3.062344         5
7            22     3               2        3.062344         2
8             4     3               3        3.062344         1
9            16     4               4        3.062344         2
10           23     3               4        3.062344         4
11           14     2               1        3.062344         3
12           35     3               1        3.062344         3
13           24     5               3        3.062344         5
14           32     3               4        3.062344         3
15           15     3               5        3.062344         1
16           18     3               2        3.062344         1
17           17     3               4        3.062344         2
18           23     4               4        3.062344         1
19           42     4               1        3.062344         2
20           31     5               4        3.062344         3
21           24     3               2        3.062344         2
22           10     4               4        3.062344         3
23           39     3               2        3.062344         2
24           20     5               4        3.062344         4
25           22     3               3        3.062344         4
26           24     4               3        3.062344         5
27           41     4               3        3.062344         5
28           20     5               2        3.062344         1
29           38     3               4        3.062344         1
...         ...   ...             ...             ...       ...
1470         39     4               3        3.000000         3
1471         32     4               2        2.000000         4
1472         41     3               5        2.000000         2
1473         19     4               5        2.000000         4
1474         22     2               3        5.000000         1
1475         31     3               3        3.000000         3
1476         84     4               2        1.000000         2
1477         26     3               4        2.000000         2
1478         20     3               3        3.000000         2
1479         29     2               1        1.000000         4
1480         16     3               1        2.000000         4
1481         17     3               2        5.000000         1
1482         30     3               2        2.000000         2
1483         39     4               1        1.000000         4
1484         33     2               4        3.000000         2
1485         39     3               3        3.000000         2
1486         41     3               3        2.000000         2
1487          5     2               1        1.000000         2
1488         29     2               1        1.000000         4
1489         26     3               3        4.000000         3
1490          9     3               2        4.000000         4
1491         52     3               4        3.000000         4
1492         30     4               3        4.000000         5
1493         19     4               4        3.000000         3
1494         38     3               4        3.019950         2
1495         32     4               4        3.019950         3
1496         24     4               3        3.019950         1
1497         58     4               4        3.019950         3
1498         37     4               2        3.019950         1
1499         23     2               4        3.019950         4

[1500 rows x 5 columns]

In [4]:
data["target"]= data["surprise"].apply(lambda x: 0 if x < 3 else 1  )
data

      frequency  like  c1_familiarity  c2_familiarity  surprise  target
0            45     4               4        3.062344         3       1
1            82     5               5        3.062344         5       1
2            19     4               2        3.062344         1       0
3             7     3               4        3.062344         1       0
4             9     3               1        3.062344         3       1
5            14     1               1        3.062344         2       0
6            31     4               1        3.062344         5       1
7            22     3               2        3.062344         2       0
8             4     3               3        3.062344         1       0
9            16     4               4        3.062344         2       0
10           23     3               4        3.062344         4       1
11           14     2               1        3.062344         3       1
12           35     3               1        3.062344         3       1
13           24     5               3        3.062344         5       1
14           32     3               4        3.062344         3       1
15           15     3               5        3.062344         1       0
16           18     3               2        3.062344         1       0
17           17     3               4        3.062344         2       0
18           23     4               4        3.062344         1       0
19           42     4               1        3.062344         2       0
20           31     5               4        3.062344         3       1
21           24     3               2        3.062344         2       0
22           10     4               4        3.062344         3       1
23           39     3               2        3.062344         2       0
24           20     5               4        3.062344         4       1
25           22     3               3        3.062344         4       1
26           24     4               3        3.062344         5       1
27           41     4               3        3.062344         5       1
28           20     5               2        3.062344         1       0
29           38     3               4        3.062344         1       0
...         ...   ...             ...             ...       ...     ...
1470         39     4               3        3.000000         3       1
1471         32     4               2        2.000000         4       1
1472         41     3               5        2.000000         2       0
1473         19     4               5        2.000000         4       1
1474         22     2               3        5.000000         1       0
1475         31     3               3        3.000000         3       1
1476         84     4               2        1.000000         2       0
1477         26     3               4        2.000000         2       0
1478         20     3               3        3.000000         2       0
1479         29     2               1        1.000000         4       1
1480         16     3               1        2.000000         4       1
1481         17     3               2        5.000000         1       0
1482         30     3               2        2.000000         2       0
1483         39     4               1        1.000000         4       1
1484         33     2               4        3.000000         2       0
1485         39     3               3        3.000000         2       0
1486         41     3               3        2.000000         2       0
1487          5     2               1        1.000000         2       0
1488         29     2               1        1.000000         4       1
1489         26     3               3        4.000000         3       1
1490          9     3               2        4.000000         4       1
1491         52     3               4        3.000000         4       1
1492         30     4               3        4.000000         5       1
1493         19     4               4        3.000000         3       1
1494         38     3               4        3.019950         2       0
1495         32     4               4        3.019950         3       1
1496         24     4               3        3.019950         1       0
1497         58     4               4        3.019950         3       1
1498         37     4               2        3.019950         1       0
1499         23     2               4        3.019950         4       1

[1500 rows x 6 columns]

In [6]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(['surprise','target'],axis=1), 
                                                    data['target'], test_size=0.30, 
                                                    random_state=101)

In [7]:
from sklearn.svm import SVC
model = SVC()
model.fit(X_train,y_train)
predictions = model.predict(X_test)
from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

             precision    recall  f1-score   support

          0       0.56      0.35      0.43       173
          1       0.67      0.83      0.74       277

avg / total       0.63      0.64      0.62       450